@import "tailwindcss";

/* htmlタグ */
/* 論理的グローバル変数 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ダークモードの際、テーマ色を変更 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 
  tailwind-cssのテーマ変数設定 (utility-class)
  ex. bg-background, border-background 
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
